<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="DANGCAM\DC_Connection" connectionString="XpoProvider=MSSqlServer;data source=DANGCAM\DC;integrated security=SSPI;initial catalog="/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
